opencv-python==4.8.1.78
numpy==1.23.5
kornia==0.8.1

git+https://github.com/facebookresearch/sapiens.git#egg=sapiens-pretrain&subdirectory=pretrain
git+https://github.com/facebookresearch/sapiens.git#egg=sapiens-pose&subdirectory=pose
